:root {
	--primary-font: 'Lexend Deca', -apple-system, sans-serif;
	--black:        hsl(0, 0%, 4%);
	--black-bis:    hsl(0, 0%, 7%);
	--black-ter:    hsl(0, 0%, 14%);

	--grey-darker:  hsl(0, 0%, 21%);
	--grey-dark: 		hsl(0, 0%, 29%);
	--grey:         hsl(0, 0%, 48%);
	--grey-light:   hsl(0, 0%, 71%);
	--grey-lighter: hsl(0, 0%, 86%);
	--grey-lightest:hsl(0, 0%, 93%);

	--white-ter:    hsl(0, 0%, 96%);
	--white-bis:    hsl(0, 0%, 98%);
	--white:        hsl(0, 0%, 100%);

	--orange:       hsl(14,  100%, 53%);
	--yellow:       hsl(48,  100%, 67%);
	--green:        hsl(141, 53%,  53%);
	--turquoise:    hsl(171, 100%, 41%);
	--cyan:         hsl(204, 71%,  53%);
	--blue:         hsl(217, 71%,  53%);
	--purple:       hsl(271, 100%, 71%);
	--red:          hsl(348, 86%, 61%);

	--size-1: 3rem;
	--size-2: 2.5rem;
	--size-3: 2rem;
	--size-4: 1.5rem;
	--size-5: 1.25rem;
	--size-6: 1rem;
	--size-7: 0.75rem;

	--weight-light: 300;
	--weight-normal: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;

	--info: var(--cyan);
	--success: var(--green);
	--warning: var(--yellow);
	--danger: var(--red);

	--primary: hsl(225, 57%, 47%);
	--secondary: hsl(233, 48%, 66%);
	--tertiary: hsl(9, 100%, 64%);
	--brand-background: hsl(240, 73%, 3%);
	--brand-background-ter: hsl(243, 40%, 22%);

	--navbar-height: 88px;
}

html,
body,
#app {
	position: relative;
	width: 100%;
	height: 100%;
	color: var(--white-ter);
	background-color: var(--brand-background);
  background-image: radial-gradient(var(--brand-background-ter) 8%, transparent 0);
  background-size: 20px 20px;
}

body,
button,
input,
select,
textarea {
	font-family: var(--primary-font);
}

a {
	color: var(--tertiary);
}

a:hover {
	color: var(--tertiary);
	text-decoration: underline;
}

.navbar {
	background-color: var(--brand-background);
}

.navbar-item, .navbar-link {
	color: var(--white-ter);
}

a:hover.navbar-item {
	text-decoration: none;
}

@media screen and (max-width: 1023px) {
	.navbar-menu {
    background-color: var(--brand-background);
	}
}

.title,
.subtitle {
	color: var(--white-ter);
}

.tabs li.is-active a {
	border-bottom-color: var(--primary);
	color: var(--primary);
}

.button.is-primary {
	border-color: var(--primary);
	background-color: var(--primary);
}

.button.is-primary:hover,
.button.is-primary:focus {
	border-color: var(--primary);
	background-color: var(--primary);
}

.modal-card-body {
	background-color: var(--brand-background-ter);
}

/* Checkbox */
.label {
	color: var(--white-ter); 
}

footer {
	background-color: var(--white);
}